/* Stili per il container delle opzioni di chiave esterna */
.foreign-key-options {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.foreign-key-options label {
    display: block;
    margin-bottom: 5px;
}

/* Stili per il display delle opzioni di chiave esterna */
.foreign-key-options select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Stili per nascondere il container delle opzioni di chiave esterna */
.foreign-key-options.hidden {
    display: none;
}


.attributo-container {
    margin-bottom: 20px;
    /* Aggiunge spazio tra i container degli attributi */
    border: 1px solid #ccc;
    /* Aggiunge un bordo intorno al container */
    padding: 10px;
    /* Aggiunge spazio interno al container */
    border-radius: 5px;
    /* Aggiunge bordi arrotondati al container */
}

input[type="text"],
input[type="number"] {
    width: 200px;
    background-color: white;
    border: 1px solid black;
}

form select {
    border-radius: 4px;
    margin-top: 10px;
}