@import url('https://fonts.googleapis.com/css2?family=Acme&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {

    font-family: "Acme", sans-serif;
    font-style: normal;
    --background-default-color: red;
}

body {
    background-color: rgb(242, 216, 183);
    overflow-x: hidden;
}


table {
    /* min-width: max-content; */
    border-collapse: collapse;
    width: 100%;
    border-radius: 1rem;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/**
 * Tabelle create dal professore
 */
table.printed {
    max-width: 50%;
}

.printed th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.printed th {
    background-color: #f2f2f2;
}

.printed table img {
    max-width: 250px;
    max-height: 250px;
}

input {
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
}

input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}

input:focus {
    border: 2px solid var(--input-focus);
}

button:active,
.button-confirm:active {
    box-shadow: 0px 0px black;
    transform: translate(3px, 3px);
}

button {
    margin: 20px 0 20px 0;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    /* background-color: var(--bg-color); */
    box-shadow: 4px 4px black;
    font-size: 17px;
    font-weight: 600;
    color: var(--font-color);
    cursor: pointer;
}


::-webkit-scrollbar {
    visibility: visible;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 40px;
    background-color: rgb(81, 16, 3);
}

#select-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#uploadForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.widget-professore {
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    align-items: center;
    box-shadow: 4px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widget-professore:hover {
    background-color: var(--background-default-color);
    transition: all 0.3s;
}

#quesiti .widget-professore {
    min-width: 350px;
    height: max-content;
    max-height: 500px;
}

#quesiti .scrollable-widget {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#quesiti textarea {
    width: 300px;
    height: 100px;
}

#quesiti #tabelleRiferimento {
    width: 90%;
    margin: 10px 15px 0 15px;
}

#intestazione {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 720px;
    padding-right: 814px;
}

#intestazione a.home {
    display: inline-block;
    background-image: url("../images/icons/home.svg");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}

#intestazione a.logout {
    display: inline-block;
    background-image: url("../images/icons/logout.svg");
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
}

#intestazione h1 {
    white-space: nowrap;
}