.container-professore {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.widget-professore {
    margin: 10px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 4px 4px black;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.widget-professore:hover {
    background-color: var(--background-default-color);
    transition: all 0.3s;
}

h1 {
    text-align: center;
    margin: 50px 0;
}

h2 {
    text-align: center;
    margin: 20px 0;
}

h3 {
    margin-bottom: 1px;
}

.widget-professore button {
    margin-top: 15px
}

.widget-professore button:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.widget-professore select {
    margin-top: 5px;
    border-radius: 4px;
}

.widget-professore form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.widget-professore form select {
    margin-top: 10px;
}

.icons-container {
    margin-left: 70px;
}

#intestazione {
    gap: 38dvw !important;
    color: red;
}